#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}


.text-display-container {
    display: flex;
    gap: 1rem;
    width: 100%; /* S'assure que le conteneur prend toute la largeur */
}

/* Cible le composant OriginalInput */
.text-display-container > :first-child {
    flex: 1; /* Prend 1 part de l'espace */
}

/* Cible le composant AdaptedPreview */
.text-display-container > :last-child {
    flex: 3; /* Prend 3 parts de l'espace */
}

/* Pour les écrans de 768px ou moins */
@media (max-width: 768px) {
    .text-display-container {
        flex-direction: column; /* Empile les éléments verticalement */
    }
}

/* src/App.css */
.app-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px; /* espace autour du footer */
    margin-top: 1rem;
}

.license-icon {
    width: 25vw;      /* 1/4 de la largeur de l'écran */
    max-width: 180px; /* limite optionnelle pour grands écrans */
    height: auto;
    padding: 8px;     /* padding interne autour de l'image */
    display: block;
}
